<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<p>名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<% unless @user.image.blank? %>
  <p>画像: <%= image_tag @user.image.url %></p>
<% end %>

<%= link_to 'お気に入り記事表示', users_path %>|
<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '削除', @user, method: :delete, data: { confirm: '削除しますか？' } %>
