<p id="notice"><%= notice %></p>
<p>名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<% unless @user.image.blank? %>
  <p>画像: <%= image_tag @user.image.url %></p>
<% end %>

<%# <%= match_user_edit %> %>
<%# <%= match_user_destroy %> %>
