<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>

<% unless @picture.image.blank? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @picture.image.url %>
  </p>
<% end %>
<p>
  <strong>User:</strong>
  <%= @picture.user.name %>
</p>
<%= favorite_present %>
<% if @picture.user_id == current_user.id %>
  <%= link_to '編集', edit_picture_path(@picture) %>
  <%= link_to '削除', @picture, method: :delete, data: { confirm: '削除しますか？' } %>
<% end %>
<%= link_to '一覧に戻る', pictures_path %>
