<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>

<% unless @picture.image.blank? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @picture.image.url %>
  </p>
<% end %>
<p>
  <strong>User:</strong>
  <%= @picture.user.name %>
</p>
<%= favorite_present %>
<%# <%= creator_user_edit %> %>
<%# <%= creator_user_destroy %> %>
<%= link_to '一覧に戻る', pictures_path %>
